{% include 'base.html' %}


<div class="container-flull">
  <div class="container-full banner content">
    <div class="overlay">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-white text-center intro">Welcome to MEPIC gallery</h1>
          <a href="#gallery" class="btn btn-outline-info mt-3 text-white"  name="button">View Gallery</a>
      </div>
    </div>
  </div>
  </div>
</div>

<section id="gallery">
    {% block content %}
    <div class="row container-fluid content">
      {% for image in images %}
        <div class="col-md-4 mt-5">
            <img src="/photo{{image.image_path.url}}" class="image-responsive w-100 img-thumbnail btn-outline-info" data-toggle="modal" data-target="#{{image.id}}" alt="image">
        </div>
  